.admin-management {
  .p-checkbox .p-checkbox-box.p-highlight {
    border-color: unset;
    background: unset;
  }
  .p-inputnumber-buttons-stacked .p-button.p-inputnumber-button-up {
    border-top-right-radius: 0;
  }
  .p-inputnumber-buttons-stacked .p-button.p-inputnumber-button-down {
    border-bottom-right-radius: 0;
  }
  .p-inputnumber-button {
    background: #6760e5;
    color: #ffffff;
    border-color: #ffffff;
  }
  .p-inputtext {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
