#category-tab-menu {
  .p-tabmenu
    .p-tabmenu-nav
    .p-tabmenuitem
    .p-menuitem-link:not(.p-disabled):focus {
    box-shadow: unset;
    border-top-right-radius: unset !important;
    border-top-left-radius: unset !important;
  }

  .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
    border-color: rgb(16 185 129);
    color: rgb(16 185 129);
    background-color: rgb(229 231 235);
    border-top-right-radius: unset !important;
    border-top-left-radius: unset !important;
  }

  // .p-carousel .p-carousel-item {
  //   flex: 0 0 33.333333333333336% !important;
  // }

  .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
    background-color: rgb(253 224 71);
  }

  .p-carousel-item img {
    height: 21.5rem;
  }
}
