#my-collections-list {
  .p-card-title {
    text-align: center;
  }
  .p-card-header img {
    height: 8rem;
  }
  .p-card-content p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
