#nft-detail {
  #left-side {
    .p-accordion-header-link {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      color: black;
    }
    .p-accordion-tab {
      margin-bottom: 0;
      &:not(:last-child) {
        .p-accordion-header-link {
          border-radius: 0;
        }
      }
      &:last-child {
        .p-accordion-header-link {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }
      .properties {
        .p-accordion-content {
          padding: 0px;
        }
      }
    }
  }
  #right-side {
    .buy-button {
      width: 21.7rem;
    }
  }
}
